[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww]in32/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.dll
*.exe
appsettings.json     
appsettings.*.json        
secrets.json
user-secrets.json

node_modules/
dist/
.vite/
.env
.env.local
.env.*.local
yarn-error.log*
.npm/
.eslintcache

.vscode/
.vs
.idea/
.DS_Store
Thumbs.db

*.tmp
*.temp
coverage/
.nyc_output/